.accordion-item {
  width: 100%;
  height: auto;
  transition: .3s;
  margin-top: 10px;
  .accordion-content {
    height: 0px;
    transition: .3s;
    overflow: hidden;
  }

  .accordion-title {
    width: 100%;
    transition: .3s;
    cursor: pointer;
    height: 51px;
    display: flex;
    background-color: #F7F7F7;
    padding: 15px 25px;

    .title {
      margin-left: 25px;
    }

    .symbol {
      color: #D9D9D9;
    }
  }
}